body {
background-color: #ffefb8;
 
}

.jumbotron  {

 background-color: white;
}

h1  {

    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    color: black;

}

h2  {

    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;

}

p {
    font-family: 'PT Sans Narrow', sans-serif;

}

#todaySearch {
    font-family: 

}
.placesIlove{

    padding: 5px;

}

button {
margin-left: 5px;
margin-top: 5px;
padding: 5px;

}



.buttonLove {

    align-content: center;
}

